<h4><strong>{{localize 'npc-generator-byo-llm.sheet.appearance'}}:</strong></h4>{{appearance}}<hr>
<section class="secret" id="secret-npc-section">
    <h4><strong>{{localize 'npc-generator-byo-llm.sheet.background'}}:</strong></h4>{{background}}<hr>
    <h4><strong>{{localize 'npc-generator-byo-llm.sheet.roleplaying'}}:</strong></h4>{{roleplaying}}<hr>
    <h4><strong>{{localize 'npc-generator-byo-llm.sheet.readaloud'}}:</strong></h4><blockquote>{{readaloud}}</blockquote>
</section>